services:
  ldap-server:
    build: .
    container_name: ldap-server
    environment:
      LDAP_BASE_DN: "${LDAP_ROOT}"
      LDAP_ORGANISATION: "${LDAP_DOMAIN}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD}"
      LDAP_TLS: "true"
      # These must match the filenames COPIED in the Dockerfile
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_VERIFY_CLIENT: "never"
      KEEP_EXISTING_CONFIG: "false"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
      - ldap_network

  ldap-admin-ui:
    image: osixia/phpldapadmin:0.9.0
    container_name: ldap-admin-ui
    ports:
      - "8081:80"
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap-server"
      PHPLDAPADMIN_HTTPS: "false"
      PHPLDAPADMIN_LDAP_BASE: "${LDAP_BASE_DN:-dc=example,dc=com}"
      # Use LDAPS for the internal connection
      PHPLDAPADMIN_LDAP_URI: "ldaps://ec2-65-0-150-75.ap-south-1.compute.amazonaws.com:636"
    volumes:
      # Map your CA so the UI trusts the server
      - ./ldap/certs/ca.crt:/container/service/phpldapadmin/assets/certs/ca.crt:ro
    networks:
      - ldap_network
    depends_on:
      - ldap-server

networks:
  ldap_network:
    driver: bridge

volumes:
  ldap_data:
  ldap_config: