version: '3.8'

services:
  ldap-server:
    image: osixia/openldap:1.5.0
    container_name: ldap-server
    environment:
      LDAP_BASE_DN: "${LDAP_ROOT}"
      LDAP_ORGANISATION: "${LDAP_DOMAIN}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD}"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"

    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_bootstrap_data:/container/service/slapd/assets/config/bootstrap/ldif/custom
      - ldap_certs_data:/container/service/slapd/assets/certs
    networks:
      - ldap_network
    # restart: unless-stopped
  ldap-admin-ui:
    image: osixia/phpldapadmin:0.9.0
    container_name: ldap-admin-ui
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap-server"
      PHPLDAPADMIN_HTTPS: "false"
      PHPLDAPADMIN_LDAP_BASE: "${LDAP_BASE_DN:-dc=example,dc=com}"
      PHPLDAPADMIN_HTTPS_PORT: 443
      PHPLDAPADMIN_LDAP_PORT: 389
    ports:
      - "8081:80"
    networks:
      - ldap_network
    depends_on:
      - ldap-server
    restart: unless-stopped

networks:
  ldap_network:
    driver: bridge
volumes:
  ldap_certs_data:
  ldap_bootstrap_data: