services:
  ldap-server:
    image: osixia/openldap:1.5.0
    container_name: ldap-server
    environment:
      LDAP_BASE_DN: "${LDAP_ROOT}"
      LDAP_ORGANISATION: "${LDAP_DOMAIN}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD}"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      KEEP_EXISTING_CONFIG: "true"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
      - ldap_certs:/container/service/slapd/assets/certs
      - ldap_bootstrap_custom:/container/service/slapd/assets/config/bootstrap/ldif/custom
    networks:
      - ldap_network
    # restart: unless-stopped

  ldap-admin-ui:
    image: osixia/phpldapadmin:0.9.0
    container_name: ldap-admin-ui
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap-server"
      PHPLDAPADMIN_LDAP_PORT: 636
      PHPLDAPADMIN_HTTPS: "false"
      PHPLDAPADMIN_LDAP_BASE: "${LDAP_BASE_DN:-dc=example,dc=com}"
      # Explicit LDAPS URI to ensure phpLDAPadmin uses LDAPS
      PHPLDAPADMIN_LDAP_URI: "ldaps://ldap-server:636"
    ports:
      - "8081:80"
    volumes:
      - ./ldap/certs/ca.crt:/container/service/phpldapadmin/assets/certs/ca.crt:ro
    networks:
      - ldap_network
    depends_on:
      - ldap-server
    # restart: unless-stopped

networks:
  ldap_network:
    driver: bridge

volumes:
  ldap_data:
  ldap_config:
  ldap_certs:
  ldap_bootstrap_custom:
  # ldap_bootstrap_ldif:
