version: '3.8'

services:
  ldap-server:
    image: osixia/openldap:1.5.0
    container_name: ldap-server
    user: "${MY_UID}:${MY_GID}"
    environment:
      LDAP_BASE_DN: "${LDAP_ROOT}"
      LDAP_ORGANISATION: "${LDAP_DOMAIN}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD}"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      KEEP_EXISTING_CONFIG: "true"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
      - ./ldap/certs:/container/service/slapd/assets/certs
      - ./ldap/bootstrap.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/50-bootstrap.ldif
    networks:
      - ldap_network
    # restart: unless-stopped
  ldap-admin-ui:
    image: osixia/phpldapadmin:0.9.0
    container_name: ldap-admin-ui
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap-server"
      PHPLDAPADMIN_HTTPS: "false"
      PHPLDAPADMIN_LDAP_BASE: "${LDAP_BASE_DN:-dc=example,dc=com}"
      PHPLDAPADMIN_HTTPS_PORT: 443
      PHPLDAPADMIN_LDAP_PORT: 389
    ports:
      - "8081:80"
    networks:
      - ldap_network
    depends_on:
      - ldap-server
    restart: unless-stopped

networks:
  ldap_network:
    driver: bridge

volumes:
  ldap_data:
  ldap_config:
  ldap_certs: