services:
  ldap-server:
    build: 
      context: .
      dockerfile: Dockerfile # Assuming you name it Dockerfile
    container_name: ldap-server
    hostname: ldap-server
    environment:
      LDAP_BASE_DN: "${LDAP_ROOT}"
      LDAP_ORGANISATION: "${LDAP_DOMAIN}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_ADMIN_PASSWORD}"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "tls.crt"
      LDAP_TLS_KEY_FILENAME: "tls.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_VERIFY_CLIENT: "never"
      LDAP_TLS_CIPHER_SUITE: "NORMAL"
      KEEP_EXISTING_CONFIG: "false"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
      - ldap_network

  ldap-admin-ui:
    image: osixia/phpldapadmin:0.9.0
    container_name: ldap-admin-ui
    ports:
      - "8081:80"
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap-server"
      PHPLDAPADMIN_HTTPS: "false"
      PHPLDAPADMIN_LDAP_BASE: "${LDAP_ROOT}"
      PHPLDAPADMIN_LDAP_URI: "ldaps://ldap-server:636"
      PHPLDAPADMIN_LDAP_CLIENT_TLS_REQCERT: "never"
    networks:
      - ldap_network
    depends_on:
      - ldap-server

networks:
  ldap_network:
    name: ldap_network
    driver: bridge

volumes:
  ldap_data:
  ldap_config: